.DS_Store
*/build/*
# Exclude temp nibs and swap files
*~.nib
*.swp
*.mode1
*.mode1v3
*.mode2v3
*.perspective
*.perspectivev3
*.pbxuser
*.xcworkspace
*.xcconfig
xcuserdata
*.moved-aside
.idea/
*.hmap
PaylevenInAppSDKExample/PaylevenInAppSDK.framework
MockBE/api/slim
MockBE/api/.htaccess
PaylevenInAppSDK/PaylevenInAppSDKDocs